# dependencies
node_modules/
.pnp
.pnp.js

# next.js
apps/web/.next/
apps/web/out/

# production
apps/web/build

# env files
.env.local
.env.*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
